.header
  display: flex
  height: 40px
  align-items: center

.burger
  display: none
  position: fixed

@media only screen and (max-width: 600px)
  .header
    display: none!important
  .burger
    display: block!important
